<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink='/' routerLinkActive='active'>Dating App</a>

        <!-- <ul class="navbar-nav mr-auto" *ngIf="loggedIn"> 
            <ul class="navbar-nav mr-auto" *ngIf="currentUser$ | async">-->
        <!-- <ul class="navbar-nav mr-auto" *ngIf="accountService.currentUser$ | async"> -->
        <ul class="navbar-nav mr-auto">

            <!-- <ng-container> is useful for conditionals because it does not affect any styling or DOM or Doesn't add any additional
            tag in HTML, it useful if we want to hide/show certain elements especially lists than its a perfect choice -->

            <ng-container *ngIf="accountService.currentUser$ | async">
                <li class="nav-item ">
                    <a class="nav-link" routerLink='/members' routerLinkActive='active'>Matches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/lists' routerLinkActive='active'>Lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='messages' routerLinkActive='active'>Messages</a>
                </li>
            </ng-container>
        </ul>

        <!-- dropdown, dropdownToggle, and *dropdownMenu are from ngx Bootstrap see its documentation
            https://valor-software.com/ngx-bootstrap/#/dropdowns-->

        <!-- <div class="dropdown" dropdown *ngIf="loggedIn"> -->
        <!-- <div class="dropdown" dropdown *ngIf="currentUser$ | async">-->
        <!-- <div class="dropdown" dropdown *ngIf="accountService.currentUser$ | async"> -->
        <div class="dropdown" dropdown *ngIf="(accountService.currentUser$ | async) as user"> <!--user is alias used below with WELCOME-->
            <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.userName | titlecase}}</a> <span class="caret"></span>
            <ul class="dropdown-menu" *dropdownMenu>
                <li><a class="dropdown-item">Edit Profile</a></li>
                <li class="divider dropdown-divider"></li>
                <li><a class="dropdown-item" (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
        <!-- <form *ngIf="loggedIn" #loginForm='ngForm' (ngSubmit)='login()'  with currentUser$ | async we cannot use '!' sign 
            <form *ngIf="(currentUser$ | async) === null" #loginForm='ngForm' (ngSubmit)='login()'-->
        <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm='ngForm' (ngSubmit)='login()'
            class=" form-inline mt-2 mt-md-0 " autocomplete="off">
            <input name="userName" [(ngModel)]="model.userName" class="form-control mr-sm-2 " type="text "
                placeholder="Username ">
            <input name="password" [(ngModel)]="model.password" class="form-control mr-sm-2 " type="password"
                placeholder="Password">
            <button class="btn btn-success my-2 my-sm-0 " type="submit ">Login</button>
        </form>
        <!-- </div> -->
    </div>
</nav>